* {
  margin: 0;
  padding: 0;
  /*google font*/
  font-family: "Nanum Gothic", sans-serif;
  /*smooth scroll*/
  scroll-behavior: smooth;
}
/*body*/
body {
  background-color: #fff;
}
/*header*/
header .header {
  width: 100%;
  height: 7.5vh;
  background-color: transparent;
  position: fixed;
}

header .header nav li {
  display: flex;
}

header .header nav li ul {
  padding: 25px;
}
/*right side of navbar*/
header .header nav li .ul1 {
  margin-left: 55%;
}

header .header nav li ul a {
  text-decoration: none;
  color: white;
  font-size: 17.5px;
}

header .header nav li ul a:hover {
  color: aquamarine;
}

header .header nav li a .snackbar__logo {
  width: 80px;
  height: auto;
  margin-top: 7.5px;
  margin-left: 80px;
}
/*homepage*/
.container__homepage {
  width: 100%;
  height: 100vh;
  box-shadow: 0px 0px 10px rgba(0,0,0);
}
/*homepage pic*/
.container__homepage .burger__pic { 
  width: 100%;
  height: 100vh;
  background-image: url("../Assets/afbeeldingen/burger.png");
  /*nice scroll effect*/
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
/*informatie*/
.container__about {
  display: flex;
  width: 100%;
  height: 100vh;
  box-shadow: 0px 0px 10px rgba(255,255,255);
  background-color: #404147;
  border-top: solid 2px lightgray;
}

.container__about .txt__title__about {
  font-size: 35px;
}

.container__about .txt__about__box {
  width: 40%;
  height: 80vh;
  margin-top: 7.5vh;
  margin-left: 5%;
  word-spacing: 2px;
  line-height: 2;
  color: #fff;
}

.container__about .txt__about__box .txt__pic__about{
  width: 750px;
  height: 375px;
  margin-top: 15%;
  border-radius: 20px;
  background-color: aqua;
}

.container__about .pic__about__box .title__margin__about{
  margin-top: 20px;
}

.container__about .pic__about__box{
  width: 40%;
  height: 80vh;
  margin-top: 7.5vh;
  margin-left: 7.5%;
  word-spacing: 2px;
  line-height: 2;
  color: #fff;
}

.container__about .pic__about__box .pic__about {
  width: 750px;
  height: 375px;
  border-radius: 20px;
  background-color: purple;
}

/*menu*/
.container__menu {
  display: flex;
  width: 100%;
  height: 100vh;
  box-shadow: 0px 0px 10px rgba(0,0,0);
  background-color: black;
  border-top: solid 2px lightgray;
}

.container__menu .div__menu__select
{
  width: 10%;
  height: 100vh;
  margin-top: 50px;
  margin-left: 50px;
}

.container__menu .div__menu__select .menu__title__catogorie
{
  font-size: 20px;
  margin-bottom: 25px;
  color: #fff;
}

.container__menu .menu__keuze__catogorie
{
  text-decoration: none;
  line-height: 1.75;
  color: #fff;
}

.container__menu .menu__keuze__catogorie a
{
  text-decoration: none;
  color: #fff;
}
.container__menu .menu__keuze__catogorie a p
{
  width: 100px;
}

.container__menu .div__scroll__food
{
  width: 70%;
  height: 100vh;
  overflow: auto;
  background-color: #001537;
}

.container__menu .div__scroll__food .title__menu h2{
  font-size: 30px;
  margin-left: 45%;
  color: #fff;
}

.container__menu .div__scroll__food section{
  color: #fff;
}

.container__menu .div__scroll__food section img{
  width: 175px;
  height: 175px;
}

.container__menu .div__winkelwagen
{
  width: 20%;
  height: 100vh;
}

/*contact*/
.container__contact {
  width: 100%;
  height: 100vh;
  box-shadow: 0px 0px 10px rgba(0,0,0);
  background-color: black;
  border-top: solid 2px lightgrey;
  color: #fff;
  border-radius: 5px;
}

.container__contact h2{
  display: flex;
  font-size: 25px;
  margin-top: 50px;
  justify-content: center;
}

.container__contact form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__contact form #label__fullname{
  width: 100%;
  height: 30px;
  font-size: 20px;
  margin-left: 39.25%;
  margin-bottom: 10px;
}
.container__contact form #input__fullname{
  width: 60%;
  padding: 10px;
  background-color: #29292d;
  border-style: none;
  color: #fff;
  margin-bottom: 15px;
}

.container__contact form #label__email{
  width: 100%;
  height: 30px;
  font-size: 20px;
  margin-left: 39.25%;
  margin-bottom: 15px;
}

.container__contact form #input__email{
  width: 60%;
  padding: 10px;
  background-color: #29292d;
  border-style: none;
  color: #fff;
  margin-bottom: 20px;
}

.container__contact form #label__discription{
  width: 100%;
  height: 30px;
  font-size: 20px;
  margin-left: 39.25%;
  margin-bottom: 15px;
}

.container__contact form #input__discription{
  width: 60%;
  padding: 10px;
  background-color: #29292d;
  border-style: none;
  color: #fff;
  margin-bottom: 15px;
  resize: none;
}

.container__contact form #click__submit{
  width: 5%;
  background-color: #29292d;
  border-style: none;
  color: #fff;
  padding: 15px;
  margin-right: 56%;
  border-radius: 20px;
}