*
{
    margin: 0;
    padding: 0;
    /*google font*/
    font-family: 'Nanum Gothic', sans-serif;
    /*smooth scroll*/
    scroll-behavior: smooth;
}
/*body*/
body
{
    background-color: #fff;
}
/*header*/
header .header
{
    width: 100%;
    height: 7.5vh;
    background-color: transparent;
    position: fixed;
    
}

header .header nav li  
{
    display: flex;
}

header .header nav li ul
{
    padding: 25px;
}
/*right side of navbar*/
header .header nav li .ul1
{
    margin-left: 57.5%;
}

header .header nav li ul a
{
    text-decoration: none;
    color: white;
    font-size: 17.5px;
}

header .header nav li ul a:hover
{
    color: aquamarine;
}

header .header nav li a .snackbar__logo     
{
    width: 80px;
    height: auto;
    margin-top: 7.5px;
    margin-left: 80px;
}
/*homepage*/
.container__homepage
{
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 20px rgba(255, 255, 255);
}
/*homepage pic*/
.container__homepage .burger__pic
{
    width: 100%;
    height: 100vh;
    background-image: url('/Assets/afbeeldingen/burger.png');
    /*nice scroll effect*/
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
/*informatie*/
.container__about
{
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 20px rgba(0,0,0);    
    background-color: black;
}

.container__about .txt__about
{
    width: 30%;
    height: 30vh;
    color: #fff;
    background-color: aqua;
}


/*menu*/
.container__menu
{
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 30px rgba(255,255,255);
    background-color: #404147;
    border-top: solid 2px blue;
}
.container__form
{
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 30px rgba(0,0,0);
    background-color: black;
    border-top: solid 2px blue;

}
/*contact*/
.container__contact
{
    width: 100%;
    height: 100vh;
    box-shadow: 0px 0px 30px rgba(255,255,255);
    background-color: #404147;
}